@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  body{
    background-color: white;
  }
  header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  .menu {
    width: 382px;
  }
  .menu ul {
    list-style: none;
    display: flex;
    gap: 70px;
  }
  .menu a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.5s ease;
    display: block;
    padding: 15px 0;
  }
  .menu a:hover {
    color: #f0f0f0;
    transform: scale(1.1);
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 34px;
  }
  .actions a {
    text-decoration: none;
    color: #fff;
  }
  .hero {
    width: 100%;
    height: 1117px;
    background-image: url('../img/background-hero.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero_description h1 {
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    width: 800px;
  }
  .hero_description p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 55px auto;
    width: 600px;
  }
  .hero_description .btn_green {
    width: 215px;
    height: 60px;
    background: #00A651;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    display: block;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .hero_description .btn_green:hover {
    background: #fff;
    color: #00A651;
  }
  .services-section {
    text-align: center;
    margin-top: 32px;
    margin-right: 45px;
    margin-bottom: 88px;
    margin-left: 45px;
}
.services-section h1 {
    color: black;
    padding: 72px;
    font-size: 40px;
    text-align: center;
    margin: auto auto;
    width: 600px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.service-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 416px;
    height: 232px;
    padding: 35px 51px 20px 48px;
    text-align: start;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-icon img {
    width: 45px;
    height: 45px;
    margin-bottom: 35px;
}

.service-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

.service-card p {
    color: #000000;
    font-size: 16px;
    width: 330px;
}

.best-services {
  text-align: center;
  margin: 81px 100px 88px 100px;
  background-image: url('../img/world-map.jpg');
  background-size: 1184px 622px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.best-services h1 {
  color: black;
  padding: 72px;
  font-size: 40px;
  text-align: center;
  margin: auto auto;
  width: 600px;
}

.best-services p {
  text-align: center;
  margin-top: 19px;
  margin-right: auto;
  margin-bottom: 130px;
  margin-left: auto;
  width: 500px;
}

.best-container {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}

.best-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 250px;
  padding: 33px 70px 20px 70px;
  text-align: center;
  transition: transform 0.3s ease;
}

.best-card:hover {
  transform: translateY(-5px);
}

.best-icon img {
  width: 42px;
  height: 42px;
  margin-bottom: 35px;
}

.best-card h2 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #000000;
}

.best-card p {
  color: #000000;
  font-size: 20px;
  width: 100px;
}

.popular-destinations {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

 .contenido h1 {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 10px;
  margin: 50px;
}
.mapa-fondo {
  background-image: url(img/.mapa-fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 50px;
  color: white;
  position: absolute;
  right: 760px;
}

.lugar:hover {
  background-color: transparent;
  transform: scale(1.1); 
}

.lugar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  z-index: 2;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.lugar img {
  z-index: 2;
  position: relative;
  width: 160px;
  padding-top: 42px;
  margin-right: 43px;
  margin-bottom: 40px;
  margin: -62px 28px -20px -20px;
}

.lugar h2 {
  text-align: center;
  justify-content: center; 
  padding: 50%;
}

.lugar p {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  text-align: center;
  justify-content: center;
  padding: 32px;
  margin: 0 0 0 -75px;
  text-align: center;
  z-index: 2;
}

pre {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 6px;
  z-index: 2;
}


.circulo {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border: 3px solid gray;
  box-shadow: 0 0 0  rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 2;
}

.destinations{
  width: 1300px;
  margin: auto;
  padding: 95px;
  margin-left: 150px;
}
.destination{
  width:45%;
  float: right;
  padding: 20px;
}
.clearfix{
  display: block;
  clear: both;
}

.Bptitulo{
  background-color: #ECF1F0;
  margin: 190px 0 0 0;
}

.Bptitulo h1 {
  text-align: center;
  padding: 59px 0px 0px 17px;
  font-size: 37px;
  font-weight: 700;
}

.Bpboton {
  display: flex;
  gap: 80px;
  padding: 0px 127px 0px 142px;
}

.Bpboton a {
  text-decoration: none;
  color: white;

}

.btn1bp {
  background-color: #666666;
  height: 53px;
  width: 180px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 13px 3px 17px 0px;
  margin: 52px -16px 37px;
  border-radius: 10px;
}

.btngreenbp2 {
  background-color: #00A651;
  height: 63px;
  width: 274px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: -132px 0 0 505px;
  padding: 19px;
  border-radius: 10px;
}

.BestPackages {
  display: flex;
  margin: 132px 102px 0px 208px;
  gap: 72px;
}

.whitebox_bp {
  position: relative;
  bottom: 203px;
  background: #fff;
  border-bottom-left-radius:  20px;
  border-bottom-right-radius:  20px;
  height: 180px;
  width: 0;
  padding: 0px 335px 0px 0px;
}
.whitebox_bp h1 {
  text-align: center;
  padding: 64px 0px 0px 17px;
  font-size: 37px;
  font-weight: 400;
  width: 166px;
}

.Packages img {
  position: relative;
  bottom: 80px;
  width: 335px;
  height: 383px;
}

.Packages h1 {
  font-size: 20px;
  position: relative;
  bottom: 47px;
}

.Packages h2 {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  left: 270px;
  bottom: 92px;
  margin: 19px -79px 15px;
}

.Packages p {
  font-size: 14px;
  position: relative;
  left: 12px;
  bottom: 81px;
  padding: 0px;
  width: 341px;
  font-weight: 600;
  color: #000000c2;
}

.Attribute_bp {
  display: flex;
  margin: -33px 0;
}

.Attribute_bp img {
  position: relative;
  bottom: 15px;
  width: 20px;
  height: 20px;
  top: -14px;
  left: 10px;
}

.Attribute_bp h3 {
  position: relative;
  left: 12px;
  bottom: 18px;
  font-size: 20px;
  font-weight: 600;
}
.Attribute_bp h4 {
  position: relative;
  left: 240px;
  bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  top: -32px;
  margin: 19px -128px 15px;
}
.Attribute_bp h5 {
  position: relative;
  left: 240px;
  bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  top: -32px;
  margin: 19px -82px 15px;
}

.Bpboton1 a:hover {
  background: #00A651;
  color: #fff;
  transition: all 0.5s ease;
}

.Bpboton2 a:hover {
  background: #fff;
  color: #00A651;
  transition: all 0.5s ease;
}

.containerrr {
  max-width: 900px;
  margin: auto;
}

.containerrr h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 45px 0 0 0;
}

.containerrr h2{
  font-size: 26px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin: 0;
}

.steps-container {
  display: flex;
  flex-direction: column;
  margin: 120px 0 55px -140px;
  gap: 89px;
}

.step {
  width: 200px;
}

.icon71 {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-destination {
  background-color: #F0BB1F;
}

.make-payment {
  background-color: #F15A2B;
}

.reach-airport {
  background-color: #006380;
}

.step h2 {
  font-size: 15px;
  margin: -72px 0 0 153px;
  position: absolute;
  color: #5E6282;
  font-weight: 700;
}

.step p {
  font-size: 16px;
  color: #5E6282;
  margin: -45px 0 0 -165px;
  padding: 0px 777px 100px 318px;
  position: absolute;
}

.trip-card {
  position: relative;
  padding: 20px 0 0 26px;
  margin: -416px 294px 0 285px;
  background: #fff;
  box-shadow: 50px 21px 119px rgba(0 0 0 / 10%);
  border-radius: 26px;
  left: 275px;
  top: -9px;
}

.trip-image {
  width: 275px;
  height: 138px;
  border-radius: 24px;
}

.trip-info h3 {
  font-size: 18px;
  color: #080809;
  margin: 8px 0 53px 0px;
  font-weight: 500;
}

.trip-info p {
  margin: 0 0 -20px;
  font-weight: 500;
  color: #84829A;
  font-size: 16px;
  transform: translate(0px, -42px);
}

.trip-stats p {
  transform: translate(29px, -24px);
}

.icons_circle6 {
  transform: translate(6px, -2px);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons_6 {
display: flex;
gap: 18px;
}

.icons_6 img {
  width: 14px;
  height: 14px;
}

.progress-card {
position: absolute;
  right: 215px;
  top: 4837px;
  background: #fff;
  padding: 0px 18px 106px 128px;
  border-radius: 18px;
  text-align: left;
  box-shadow: 11px 13px 36px -6px rgb(0 0 0 / 10%);
}

.progress-card p {
  margin: 5px 0 9px 0;
}

.ongoing {
  font-size: 14px;
  font-weight: 500;
  color: #84829A;
  transform: translate(-47px, -13px);
}

.trip-name {
  font-size: 18px;
  color: #080809;
  transform: translate(-47px, -18px);
}

.progress {
  font-size: 0.8em;
  color: #777;
}

.progress-card img {
  margin: 0 -110px -50px;
}

.progress-percentage2 {
  color: #8A79DF;
}
.progress-percentage {
  font-size: 14px;
  font-weight: 500;
  transform: translate(-47px, -18px);
}

.progress-bar {
  width: 135%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  margin: -52px -45px;
  transform: translate(-1px, 33px);
}

.progress {
  height: 100%;
  background: #8A79DF;
  border-radius: 3px;
}

.coracao {
  padding: 0 159px;
  transform: translate(94px, 30px)
}

.capatransparente{
  top: 0;
  left: 0;
  width: 1450px;
  height: 830px;
  background-color: #ECF1F0;
  margin: 97px 0;
}

.fotoscompletas{
  display: flex;
  gap: 505px;
  width: 0;
  height: 0;
}

.tituloprincipal{
  text-align: center;
  padding: 60px;
}

.people {
  width: 100px;
  height: 100px;
}

.paisaje1{
  justify-content: center;
  display: flex;
  width: 190px;
  height: 350px;
  transform: translate(-0%, 55px);
}


.contenedordescripcion{
  background-color: white;
  text-align: center;
  align-content: center;
  position: absolute;
  padding: 20px;
  margin: 120px 0 0 108px;
  height: 250px;
  width: 500px;
  left: 370px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translate(-0%, 70px);
}

.fotodeperfil1{
  justify-content: center;
  display: flex;
  align-content: center;
  position: absolute;
  width: 1450px;
  transform: translate(-0%, 73%);
  border: 100%;
  border-radius: 50%;
}

.contenedordescripcion p{
  text-align: center;
  width: 350px;
  margin: 55px;
}ß

.parte2{
  width: 100px;
  height: 100px;
}

.mensaje{
  transform: translate(1px, 133px);
}

.cruces1{
  position: absolute;
  transform: translate(1014px, 270px);
}

.icono03{
  transform: translate(1037px, -50px);
  position: absolute;
}

.rayasesquina{
  position: absolute;
  transform: translate(-90px, 9px);
}

.rayasesquina2{
  position: absolute;
  transform: translate(765px, -10px);
}

.subscription-container {
  background-color: #c2fff3;
  border-radius: 10px;
  text-align: center;
  width: 1085px;
  height: 380px;
  margin: 200px;
  padding: 10px;
border-top-left-radius: 100px;
transform: translate(-28px, 0px);
}

.subscription-container h2 {
  color: #5E6282;
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 1.5;
  transform: translate(200px, 85px);
  width: 700px;
  height: 50px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.subscription-form input {
  padding: 10px 15px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  flex: 1;
  max-width: 300px;
  font-size: 14px;
  outline: none;
  width: 421px;
  height: 50px;
  transform: translate(-0%, 130px);
}

.subscription-form button {
  padding: 10px 20px;
  background-color: #00A651;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 50px;
  transform: translate(-0%, 130px);
}

.subscription-form button:hover {
  background-color: #45a047;
}

.footer {
  background-color: white;
  padding: 22px;
  display: flex;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

.columna-footer {
  flex: 1;
  padding: 0 20px;
}

.footer h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 18px 12px;
}

.footer p {
  color:gray;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.6;
  padding: 8px;
}

.footer a {
  color:gray;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.6;
  padding: 8px;
  transition: all 0.5s ease;
}

.footer a:hover {
  color:black;
}

.footer .social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer .iconos-sociales img {
  width: 57px;
  height: 57px;
  cursor: pointer;
  
}

.botones-apps img {
  width: 115px;
  margin-top: 20px;
  
}

.final {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color:grey;
  background-color:white;
}